[package]
name = "mkutils"
version.workspace = true
edition.workspace = true
description.workspace = true
readme.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
anyhow = { version = "1.0.100", optional = true }
bytes = { version = "1.10.1" }
camino = { version = "1.2.1", optional = true }
console-subscriber = { version = "0.4.1", optional = true }
derive_more = { version = "2.0.1", features = ["constructor", "from", "is_variant"] }
futures = { version = "0.3.31", optional = true }
home = { version = "0.5.12", optional = true }
mkutils-macros = { path = "../mkutils-macros", optional = true }
num = { version = "0.4.3", optional = true }
poem = { git = "https://github.com/poem-web/poem", version = "3.1.12", features = ["anyhow", "websocket"], branch = "master", optional = true }
poem-openapi = { git = "https://github.com/poem-web/poem", version = "5.1.16", features = ["ulid", "websocket"], branch = "master", optional = true }
ratatui = { git = "https://github.com/ratatui/ratatui", version = "0.30.0-beta.0", branch = "main", optional = true }
reqwest = { version = "0.12.23", features = ["json"], optional = true }
rmp-serde = { version = "1.3.0", optional = true }
ropey = { version = "1.6.1", optional = true }
serde = { version = "1.0.226", features = ["derive"], optional = true }
serde_json = { version = "1.0.145", optional = true }
serde_yaml_ng = { version = "0.10.0", optional = true }
shellexpand = { version = "3.1.1", optional = true }
tokio = { version = "1.47.1", features = ["fs", "io-std", "macros", "net", "process", "rt"], optional = true }
tokio-stream = { version = "0.1.17", features = ["io-util", "sync"], optional = true }
tokio-util = { version = "0.7.16", features = ["codec", "io"], optional = true }
tracing = { version = "0.1.41", features = ["valuable"], optional = true }
tracing-subscriber = { version = "0.3.20", features = ["json", "valuable"], optional = true }
unicode-segmentation = { version = "1.12.0", optional = true }
valuable = { version = "0.1.1", optional = true }

[features]
async = ["dep:futures", "dep:tokio", "dep:tokio-stream", "dep:tokio-util"]
path = ["dep:camino", "dep:home", "dep:shellexpand"]
output = []
poem = ["dep:futures", "dep:poem", "dep:poem-openapi", "dep:serde_json"]
process = ["anyhow", "dep:tokio"]
rmp = ["dep:rmp-serde", "dep:serde"]
serde = ["dep:serde", "dep:serde_json", "dep:serde_yaml_ng", "dep:valuable"]
socket = ["anyhow", "async", "rmp", "output"]
tracing = ["dep:console-subscriber", "dep:tracing", "dep:tracing-subscriber"]

[lints]
workspace = true
