[package]
name = "mkutils"
version.workspace = true
edition.workspace = true
description.workspace = true
readme.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
anyhow = { version = "1.0.100" }
bytes = "1.10.1"
camino = "1.2.1"
console-subscriber = "0.4.1"
derive_more = { version = "2.0.1", features = ["constructor", "is_variant"] }
futures = "0.3.31"
mkutils-macros = { version = "0.1.0", path = "../mkutils-macros" }
num = "0.4.3"
poem = { git = "https://github.com/poem-web/poem", version = "3.1.12", features = ["anyhow", "websocket"], branch = "master" }
poem-openapi = { git = "https://github.com/poem-web/poem", version = "5.1.16", features = ["ulid", "websocket"], branch = "master" }
postcard = { version = "1.1.3", features = ["use-std"] }
ratatui = "0.29.0"
reqwest = { version = "0.12.23", features = ["json"] }
ropey = "1.6.1"
serde = { version = "1.0.226", features = ["derive"] }
serde_json = "1.0.145"
shellexpand = "3.1.1"
tokio = { version = "1.47.1", features = ["process"] }
tokio-stream = { version = "0.1.17", features = ["io-util", "sync"] }
tokio-util = { version = "0.7.16", features = ["codec", "io"] }
tracing = { version = "0.1.41", features = ["valuable"] }
tracing-subscriber = { version = "0.3.20", features = ["json", "valuable"] }
unicode-segmentation = "1.12.0"
url = "2.5.7"
valuable = "0.1.1"

[lints]
workspace = true
